@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    color: #3a3a3a;
}

/* Headings and logo */

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* Navigation */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

/* By floating the menu itself instead of the list item we dont have to re arrange the html code to fix the order */
/* Adding inline display to both the menu and the list item we can make the be in line. */

#menu ul {
    float: right;
}

#menu li {
    list-style-type: none;
    margin-right: 30px;
    display: inline;
}

#menu a {
    text-decoration: none; /* Removes default link styling */
    color: inherit;
}

#menu, #logo { /* Selects multiple id's to be styled together */
    line-height: 75px; /* Centers both of the elements on the same line height. */
}

#menu a:hover { /*Underlines the menu item when a user hovers over with the mouse */
    border-bottom: 1px solid #3a3a3a;
}

.active { /* Shows the active page by adding an underline to the nav item */
    border-bottom: 1px solid #3a3a3a;
}

/* Hero Image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden; /* Masks the overflowing image from the container when the animation is called. 
    which results in the animation.*/
    position: relative; /* Sets the position relative to the container*/
}

#cover-text, #cover-text h2 {
    color: white;
}

#hero-image {
    height: 600px;
    width: 100%; /* Ensures the image is the entire screen width no matter the device size */
    background: url('../images/hero-image.webp') no-repeat center center; /* Imports an image without using html, apart from the id*/

    /* animates the zoom animation - Inside the hero image property*/

    animation: hero-zoom; /* Calls what animation to be used */
    animation-duration: 5s; /* Takes 5 seconds for the animation */
    animation-fill-mode: forwards; /* Finishes the animation at the set height and width */
}

/* Sets the background image animation */

@keyframes hero-zoom {
    from{ /* Initial state */
        transform: scale(1);
    }
    to{ /* End state */
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 130%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;
    background-color: rgba(241, 109, 107, .7);

    bottom: 30px;
    right: 150px;

    position: absolute; /* Fixes the text in place on the page to its parent, see hero-outer*/
}

/* Club Ethos Section */

#club-ethos {
    height: 600px;
}

#welcome {
    text-align: center;
    margin: 20px 0px;
    font-size: 280%;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about {
    width: 33%;
    margin: 0 auto; /* Centers the entire Div */
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px;
}

.left-about-heading, .right-about-heading {
    width:  60%;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}
 
.left-about-heading {
    float: right;
}

.right-about-heading {
    float: left;
}

.right-about-heading h2 {
    text-align: right;
}
.right-about-heading p {
    text-align: right;
}

#circle-container { /* This creates the circle border with the parent child div. */
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url('../images/ethos-center-image.jpg') no-repeat center center;
    height: 100%;
    border-radius: inherit; /* Inherit works as it is a child of the parent border radius. Otherwise setting the radius to get the circle is required */
}

/** Meetup Times and Locations **/

#times {
    background: url('../images/dublin-city.webp') no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#times div { /* targets the div child of the times section, allowins us to style all divs at once. Whilst keeping the same background image across */
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    width: 20%;
    height: 300px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid white; /* Adds in a border between the cards to create a seperation */
    box-sizing: border-box; /* Tells the browser to include the border width in the browser */
}

#times h2 {
    color: #fafafa;
}

/* Main Footer */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/* Gallery Page Styling */

#photos {
    clear: both; /* Makes the images display below the header*/
    line-height: 0;
    column-count: 4; /* Sets how many colunms there is on the page*/
    column-gap: 0; /* Removes the gaps between the colunms */
}

/* Below selects the child of the id which is the img element */
#photos > img { /* Sets the width of the images on the page*/
    width: 100%;
}

/* Media Queries */

/* For large to medium screen size 1200px wide and down */

@media screen and (max-width: 1200px) {
    #club-ethos { /* Changes the entire section when below 1200px */
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }
    
    #welcome {
        padding: 30px 0;
        margin: 0;
    }

    #left-about, #right-about {
        width: 100%;
        float: left;
        padding: 0;
    }

    #center-about {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    hr {
        display: none;
    }

    #times > div { /* Stacks the times cards ontop of each other based on the 1200px rule. Includes the 700px rule too because of the way css works */
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
    }
}

/* The css between the curly brakets will apply at smaller screen sizes. */

/* For medium screen size - 700px or less - IE smart phone devices */

@media  screen and (max-width: 700px) {
    
    #menu { /* Changes the position of the nav menu, based on the max width property set. */
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #cover-text { 
        left: 0; /* Aligns the text to the left of the screen based on the 700px property */
    }

    #club-ethos { /* Centers the content in the section */
        width: 90%; /* Gives 5% padding each side */
        height: 1200px;
        margin: 0 auto;
    }

    .left-about-heading, .right-about-heading { /* Aligns the headings to either side of the section to stay inline with the base design by inheriting the width from the parent. */
        width: inherit;
    }

    .left-about-heading h2, .right-about-heading h2 { /* Selects the h2 headings for both divs */
        width: 100%; /* Centers the headings of the section */
        text-align: center;
    }

    .left-about-heading p, .right-about-heading p {
        text-align: center;
        width: inherit;
        padding-left: 20px;
        padding-right: 20px;
    }

    #photos {
        column-count: 3;
    }
}

@media screen and (max-width: 600px) {
    
    #photos {
        column-count: 2;
    }
}

/* Form */

.form-section {
    clear: left;
    background: url("https://codeinstitute.s3.amazonaws.com/FundamentalsProjects/HTML-CSS/formbg.jpg");
    background-size: cover;
    background-position: center;
    height: 900px;
}

.signup-form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.signup-form > h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #f16c6b;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}
